.articles {
  border-radius: 12px;

  h1 {
    margin-top: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    max-width: 750px;
  }

  &__back {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    margin-top: 1rem;
    text-decoration: underline;
    color: var(--black);
    color: #2052e8;

    h3, p {
      margin: 0;
    }

    p {
      margin-top: 1rem;
    }

    h3 {
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}