
.article {
  max-width: 750px;
  
  &__side-link {
    border-left: 1px solid #eaeaea;
    &.active {
      border-left: 1px solid #36f;
      background-color: aliceblue;
      color: #36f;
      
      a {
        color: #36f !important;
      }
    }
  }

  p {
    color: var(--dark-gray);
  }

  img {
    max-width: 750px;
  }

  &__wrapper {
    margin-bottom: 2rem!important;
  }

  &__back {
    text-decoration: none;
    color: var(--dark-gray);
    margin-bottom: .5rem;
    display: inline-flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.author {

  background-color: white;
  border-radius: 10px;
  border: 1px solid #eaeaea;

  &__photo {
    position: relative;
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    border: 2px solid #5429cb;
    background-size: cover;
  }

  &__link {
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 10px 14px;
    color: black;

    &:hover {
      background-color: #fafafa;
    }
  }
}

.side-part {
  border-left: 1px solid #eaeaea;
}

@media screen and (max-width: 960px){
  .article {

    &-container {
      flex-direction: column-reverse;
      min-height: unset !important;
    }

    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }

    ul, ol {
      padding: 0 0 0 1rem;
    }

    img {
      width: 100%;
    }
  }

  .author {
    &__link {
      font-size: 14px;
    }
  }
}