
.article {
  text-align: justify;
  max-width: 750px;

  p {
    color: var(--dark-gray);
  }
  p, ol, ul, li {
    line-height: 1.5rem;
  }

  a {
    color: var(--primary);
  }

  img {
    max-width: 700px;
  }

  &__wrapper {
    margin-bottom: 2rem!important;
  }

  &__back {
    text-decoration: none;
    color: var(--dark-gray);
    margin-bottom: .5rem;
    display: inline-flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.side-part {
  border-left: 1px solid #eaeaea;
}

@media screen and (max-width: 500px){
  .article {
    padding: .1rem 1rem 1rem;

    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }

    ul, ol {
      padding: 0 0 0 1rem;
    }

    img {
      width: 100%;
    }
  }
}