.category-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding: 1rem;
  margin: .75rem 0;
  border-radius: 12px;
  // -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  // -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  // box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  text-decoration: none;
  background-color: var(--white);
  margin-right: 2rem;
  border: 1px solid #e1e1e1;

  &:last-of-type {
    margin-right: 0;
  }

  &__icon {
    padding: 1rem;
    color: var(--ebony-clay);
    background-color: #313131;
    border-radius: 8px 8px 0 0;
    height: 150px;
    border-bottom: 1px solid #e1e1e1;
    color: white;
  }

  &__text {

    padding: 1rem;

    h3 {
      margin: 0 0 1rem 0;
      color: var(--primary);
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: var(--dark-blue);
    }

   p {
     margin: 0;
   }
  }

  &__list {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    &-item {

    }
  }

  &__bottom {
    width: calc(100% - 2rem);
    padding: 1rem;
    border-top: 1px solid #e1e1e1;
  }
}

@media screen and (max-width: 500px){
  .category-block {
    &__icon {
      margin: 0;
      padding-left: 0;
    }
  }
}