.category {
  &-wrapper {
    background: white;
    border: 1px solid #b3b5ff;
    border-radius: 1rem;
    padding: 2rem;
  }
  &__title {
  }
  &__icon {
    width: 64px;
    height: 64px;
  }
}


.category-block {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  text-decoration: none;

  &:last-of-type {
    margin-right: 0;
  }

  &__title {
    color: var(--ebony-clay);
    background-color: #313131;
    height: 150px;
    border-bottom: 1px solid #e1e1e1;
    color: white;
  }

  &__text {

    h3 {
      margin: 0;
      color: var(--primary);
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: var(--dark-blue);
    }

   p {
     margin: 0;
   }
  }

  &__list {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    &-item {
      &:not(&:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }

  &__bottom {
    width: 140px;
    color: white;
    background-color: #36f;
    padding: 8px 12px;
    border-radius: 6px;
    white-space: nowrap;
    $self: &;
    text-decoration: none;

     &-arrow {
       transition-duration: .2s;
     }

     &:hover {

      #{$self}-arrow {
        margin-right: 8px;
      }
     }
  }
}

@media screen and (max-width: 500px){
  .category-block {
    &__icon {
      margin: 0;
      padding-left: 0;
    }

    &__bottom {
      width: 100%;
    }
  }
}