.hero {

    &-popular-search {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 600;
    }

    &-section {
    background-color: #0C0410;
    color: white;
    padding: 5rem 0;

    // background-image: url(../../assets/images/img.png);

    &__inner {

    }
}
}