.hero {

    &-popular-search {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 600;
    }

    &-section {
    color: white;
    padding: 5rem 0;
    background: linear-gradient(88.89deg, #F5AED7 0%, #B1D6FC 100%);


    &__inner {

    }
}
}