.footer {
  padding: 1rem 2rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100px;
  border-top: 1px solid #e1e1e1;

  img {
    width: 150px;
  }

  a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}