.bread-crumbs {
  display: flex;
  max-width: 900px;
  margin: 2rem auto 0;
  padding: 1rem;
  color: #656566;

  a {
    text-decoration: none;
    color: #656566;
    margin-right: .1rem;
    margin-left: .1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}