.bread-crumbs {
  display: flex;
  max-width: 900px;
  margin: 2rem auto 0;
  padding: 1rem;
  color: #656566;

  &__wrapper {
    &[data-last="true"] {
      pointer-events: none;
    }

    a {
      text-decoration: none;
      color: #656566;
      margin-right: .2rem;
      margin-left: .2rem;
      cursor: default;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .bread-crumbs {
  display: grid;

  }

  .item1 {
    grid-column: 1 / 1;
  }

  .item2 {
    grid-column: 2 / 12;
  }

  .item3 {
    grid-column: 1 / 12;
  }
}