.bread-crumbs {
  display: flex;
  margin: 0;
  color: #656566;
  padding: 1rem 0 2rem 0 !important;

  &__wrapper {
    &[data-last="true"] {
      pointer-events: none;

      a {
        color: black;
      }
    }
    

    &:not(:first-of-type) {
      &::before {
        content: "› ";
      }
    }

    a {
      text-decoration: none;
      color: #36f;
      cursor: default;
      margin-right: 6px;
      margin-left: 6px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &:first-of-type {
      a {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .bread-crumbs {
    margin-top: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 -1rem 0 -1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
  }
}